/* style.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#title {
  color: darkblue;
  transition: all 0.5s ease;
}

.changed {
  color: crimson;
  font-size: 3rem;
  transform: rotate(-3deg);
}
